.LITU1{
    width: 573px;
    height: 338px;
}
.LITU2{
    width: 573px;
    height: 338px;
    
}
.LITU3{
    width: 1130px;
    height: 450px;
    
    border-radius: 8px;
}


.RUNA{
    border: 1px neutral-100;
    width: 573px;
    height: 218px;
    border: rounded-lg;
    
}
.MAHFUZ{
    width: 1170px;
    height: 450px;
    border: 1px solid #eeeeee;
    
    
    
}
.mas{
    width: 672px;
    height: 390px;
}
.barano{
    width: 324px;
    height: 64px;
}
.social{
    width: 1170px;
    height: 150px;
    margin-left: 135px;
    margin-right: 135px;
    border-radius: 8px;
}
.touch{
    height: 454px;
}
